body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Raleway',
        sans-serif;
}

.btn {
    padding: 8px 20px;
    width: 200px;
    height: 50px;
    color: #fff;
    font-weight: 700;
    border-radius: 0;
    text-transform: uppercase;
    margin: 25px;
    overflow: hidden;
    position: relative;
}

.btn::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #00fffc, transparent);
    transform: translateX(-100%);
    transition: 0.6s;
    position: absolute;
}

.btn:hover {
    background: transparent;
    box-shadow: 0 0 20px 5px #00fffc;
}
