/* Element selecot*/
/*body {
    background-color: aquamarine;
}
h1 {
    color: blueviolet; 
    text-align: center;
}
p {
    font-size: 20px; color: brown; 
    border: 2px solid #fff; 
    padding: 20px; 
    border-radius: 15px;
} */

/* class selector */
/*.club-1{
    color: red;
}

.club-2 {
    font-size: 20px;
}

.club-3 {
    font-family: monospace;
}  */

/* camelCase*/
/*.myNewClub {
    color: blueviolet;
} */

/* id selector */
/*#theBest {
    color: blue;
} */

/* attirbute selector */
/*[disabled] {
    font-size: 25px;
} */

/* * - unversal selec */

/* selector*/
/* *, attribute, element, class, id, */




/* - unversal selec 
* {
    color: red;
}

/* Element selecot
h1 {
    color: blue;
}

/* attirbute selector 
[disabled] {
    color: cyan;
}

/* class selector 
.heading-class {
    color: yellow;
}

/* id selector 
#heading-id {
    color: orangered;
} */



/*#heading-id {
    color: red;
}

#heading-id-second {
    color: yellow;
} */


[disabled] {
    color:black 
}

#heading {
    color: aqua;
}

.class-two {
    color: aquamarine;
}

.class-one {
    color: violet;
}


/* 1) inline */
/* 2) Id */
/* 3) class (attibute) */
/* 4) elemnt */
/* 5) unversal */